ul {
	list-style: none;
}

.note_container {
	display: table;
	width: 100%;
}

.note_date, .note_text, .note_tag, .note_selector, .li_container {
	display: table-cell;
	padding-left: 10px;
}

.low, .normal, .urgent {
	display: table-row;
}

.low {
	background: rgba(76, 175, 80, 0.3)
}

.low:hover {
	background: rgba(76, 175, 80, 0.6)
}

.normal {
	background: rgba(255, 153, 0, 0.3)
}

.normal:hover {
	background: rgba(255, 153, 0, 0.6)
}

.urgent {
	background: rgba(255, 0, 0, 0.3);
}

.urgent:hover {
	background: rgba(255, 0, 0, 0.6);
}