<div>
    <form action="{% url 'notes:delete_notes' username %}" method="post">
    {% csrf_token %}
    {% if ordered_notes_list %}
        <ul>
        {% for note in ordered_notes_list %}
            <li>
                <input type="checkbox" name="note_id" value="{{ note.id }}" />
                {{note.date}} : {{ note.text }} : {{note.tag}}
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>You don't have any notes yet.</p>
        {% endif %}
        <div>
            {% csrf_token %}
            <button type="submit">Delete selected notes</button>
        </div>
    </form>
</div>


<div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>

<div>
    <form action="{% url 'notes:add_note' username %}" method="post">
        {% csrf_token %}
        Text <br>
        <input type="text" name="note_text">
        <br>
        Tag <br>
        <input type="text" name="note_tag">
        <button type="submit">Add note</button>
    </form>
</div>

<div>
    <form action="{% url 'notes:search' username %}" method="post">
        {% csrf_token %}
        Tag <br>
        <input type="text" name="note_tag">
        <br>
        Keyword <br>
        <input type="text" name="keyword">
        <button type="submit">Search</button>
    </form>
</div>
